/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.strike {
    text-decoration: line-through;
}

.content-margin {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px !important;
    color: blue;
 }

 .row {
     color: red;
     font-size: 16px;
 }


